<suite name="Test Automation">

    <test name="myTests" parallel="classes" thread-count="1">
        <classes>

            <listeners> <!-- Allure -->
                <listener class-name="Steps.MyCustomListener"/>
            </listeners>
            <!--                <class name="Lecture13.MyTestsOne"/>-->
            <!--                <class name="Lecture13.MyTestsSecond"/>-->
            <!--                <class name="Lecture13.MyTestsThree"/>-->
            <class name="Lecture15.ForAllureShowTest"/>
        </classes>
    </test>

</suite>